.section {
  background-color: white;
  padding: 0;
  margin-top: 15px;
  display: grid;
  grid-template-areas:
    'title buttons'
    'list list';
}

.section__title {
  padding: 20px;
  margin: 0;
}

@media (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}
