.list__item {
  padding: 5px;
  margin: 5px 0;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

.list__item--hiden {
  display: none;
}

.list__item__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  width: 35px;
  height: 35px;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.list__item__button-done {
  background-color: hsl(123, 66%, 26%);
}

.list__item__button-done:hover {
  background-color: hsl(122, 75%, 36%);
}

.list__item__button-remove {
  background-color: hsl(351, 82%, 51%);
}

.list__item__button-remove:hover {
  background-color: hsl(8, 80%, 57%);
}

.list__item__content {
  margin: 0 20px;
}

.list__item--lineThrough {
  text-decoration: line-through;
}
