.form {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  border-top: 1px solid #ccc;
  padding: 20px;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
}

.form__input {
  border: 1px solid #ccc;
  padding: 5px;
  overflow: auto;
}

.form__button {
  padding: 10px;
  border-radius: 0;
  border: 0;
  outline: none;
  color: white;
  background-color: hsl(187, 100%, 23%);
  overflow: auto;
  cursor: pointer;
  transition: 0.5s ease;
}

.form__button:hover {
  background-color: hsl(187, 100%, 35%);
  transform: scaleX(1.02);
}
