.buttons {
  padding: 20px;
  margin-top: 0;
  align-self: center;
  justify-self: flex-end;
}

.button__button {
  outline: none;
  background-color: transparent;
  border: none;
  color: hsl(187, 100%, 23%);
  cursor: pointer;
  transition: 0.5s ease;
}

.button__button:hover {
  color: hsl(187, 100%, 35%);
}

.button__button:disabled {
  color: hsl(0, 0%, 65%);
  cursor: default;
}

@media (max-width: 768px) {
  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
}
